<!DOCTYPE html>
<html lang="en" class="bg-gray-900 scrollbar-hidden">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Result</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>

<body>
    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
            <a class="flex items-center mb-4 font-medium text-white title-font md:mb-0">
                <img src="/images/logo.png" class="w-12">

                <span class="ml-3 text-2xl font-semibold ">Sentify</span>
            </a>
            <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto">
                <label for="home"><img src="/images/home.png" class="mr-2 cursor-pointer w-7" alt=""></label>
                <a href="/" class="mr-5 cursor-pointer hover:text-white" name="about">Home</a>
                <label for="about"><img src="/images/about.png" class="w-6 mr-2 cursor-pointer" alt=""></label>
                <a href="/about" class="mr-5 cursor-pointer hover:text-white" name="about">About Me</a>
                <label for="github"><img src="/images/github.png" class="w-6 mr-2 cursor-pointer" alt=""></label>
                <a href="https://github.com/roshanleharwani/" class="mr-5 cursor-pointer hover:text-white"
                    name="github">Github</a>
                <span class="text-3xl">|</span>
                <div>
                    <div class="drawer drawer-end">
                        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
                        <div class="drawer-content">
                            <!-- Page content here -->
                            <label for="my-drawer-4" class="bg-transparent drawer-button btn"><img
                                    src="/images/menu.png" class="w-8" alt=""></label>
                        </div>
                        <div class="drawer-side">
                            <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
                            <ul class="min-h-full p-4 menu bg-base-200 text-base-content w-80">
                                <li class="flex items-center justify-center w-full my-5 text-xl text-white ">
                                    Finance Tools
                                </li>
                                <li><a class="text-lg text-gray-200 ">Market Mood
                                        Index</a></li>
                                <li><a class="text-lg text-gray-200">Sentiment Analysis</a></li>
                                <li><a class="text-lg text-gray-200">Stock price prediction</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <% const sentiment=result.sentiment%>
        <main class="flex flex-col items-center justify-center h-screen bg-gray-900 mt-96">
            <h1 class="px-8 py-2 mb-20 text-4xl text-gray-300 border-b-4 ">Sentiment Indicator</h1>
            <div class="tooltip tooltip-top tooltip-warning  <%= sentiment == 'neutral' ? 'tooltip-open' : '' %>"
                data-tip="Market sentiment is balanced, showing a stable outlook.">
                <button class="mb-2 border-none btn-warning btn">Neutral</button>
            </div>
            <div class="flex items-center justify-around gap-4">
                <div class="text-xl tooltip tooltip-left tooltip-success <%= sentiment == 'positive' ? 'tooltip-open' : '' %>"
                    data-tip="Market sentiment is optimistic, indicating potential growth opportunities.">
                    <button class="bg-green-300 border-none btn-success btn ">Positive</button>
                </div>

                <div
                    class="p-10 border-[18px] border-b-0 rounded-full border-l-green-500 border-t-yellow-500 border-r-red-500">
                    <div class="flex items-center <%= 
  sentiment === 'neutral' 
    ? 'justify-center' 
    : (sentiment === 'positive' 
        ? 'justify-start' 
        : (sentiment === 'negative' 
            ? 'justify-end' 
            : '')
      )
%>
 rounded-full size-72">
                        <img id="rotateImage" src="/images/marker.png" class="w-5/6 <%= 
  sentiment === 'neutral' 
    ? 'rotate-90' 
    : (sentiment === 'positive' 
        ? 'rotate-0' 
        : (sentiment === 'negative' 
            ? 'rotate-180' 
            : '')
      )
%> " alt="">
                    </div>
                </div>
                <div class="tooltip tooltip-right tooltip-error <%= sentiment == 'negative' ? 'tooltip-open' : '' %> "
                    data-tip="Market sentiment is cautious, suggesting potential risks ahead">
                    <button class="mb-2 bg-red-300 border-none btn-error btn">Negative</button>
                </div>
            </div>

            <div class="flex flex-col items-center justify-center gap-5 mt-5">

                <div
                    class="text-3xl font-semibold score bg-clip-text bg-gradient-to-br from-gray-100 via-slate-400 to-slate-600">
                    Score: <%= (Number(result.score) || 0).toFixed(2) %>
                </div>
                <h1
                    class="text-4xl font-semibold bg-clip-text bg-gradient-to-br from-gray-100 via-slate-400 to-slate-700">
                    Fetched Articles</h1>
                <div class="flex items-center justify-center w-screen h-screen bg-gray-900 ">
                    <textarea name="terminal" id="" readonly
                        class="w-3/4 h-full p-2 text-green-500 border-4 border-white rounded-lg resize-none bg-gray-950">>_ Analysing Articles
Number of Articles found: <%= result.total_articles %>
                
<% result.articles.forEach((article)=> { %>
<%= article %>
<% }) %>
                    </textarea>
                </div>


            </div>
        </main>
</body>

</html>